*{
	padding:0px;
	margin:0px;
}
body{

	/*background-image:url(../pic/bgpic.png);  
	background-repeat: no-repeat;
	background-size: cover;*/
	
}
#big{
	width:1300px;
	margin:200px 200px;
}

#part1{
	background-color:Pink;
	width:300px;
	
	float:left;
	margin-right:10px;
}
#part2{
	background-color:#FFEBCD;
	width:300px;
	float:left;
	margin-right:20px;
}
#copyinput{
	opacity: 0;
	z-index: -10;
}
#content{
	width:300px;
	height:380px;
	display:block;
	float:left;
	font-family:微软雅黑;
	font-size:18px;
	overflow:auto;
}

#check{
	position:relative;
	width:300px;
	margin-top:55px;
}
#copy{
	position:relative;
	width:300px;
	margin-bottom:0px;
}
#tips{
	display:none;
	color:red;
}
#jine{
	width:55px;
}
#shuliang{
	width:55px;
	text-align:center;
}
#shuliang2{
	width:55px;
	text-align:center;
}
#price{
	width:55px;
}
#price2{
	width:55px;
}
#jine2{
	width:55px;
}
#pricecopy{
	width:55px;
	margin:5px 0px;
}
#pricecopy2{
	width:55px;
	margin:5px 0px;
}
#shuliangcopy{
	width:55px;
	text-align:center;
}
#shuliangcopy2{
	width:55px;
	text-align:center;
}
#pupiao{
	width:150px;
	float:left;
	height:38px;
	line-height:38px;
	text-align:center;
	background-color:MediumSlateBlue;
	color:white;
	border-radius:6px;
	
	/*border-right-style:solid;
	border-color:Lime;
	border-right-width:1px;*/
	
	
}
#pupiao a{
	
	text-decoration:none;
}
#pupiao:hover{
	width:150px;
	cursor:pointer;
	display:block;
	background-color:SlateBlue;
}
#pupiao:active{
	border:2px solid MediumPurple;
}

#zhuanpiao{
	width:150px;
	height:38px;
	line-height:38px;
	float:right;
	text-align:center;
	background-color:OrangeRed;
	color:white;
	border-radius:6px;
}
#zhuanpiao a{
	text-decoration:none;
}
#zhuanpiao:hover{
	width:150px;
	cursor:pointer;
	display:block;
	background-color:Tomato;
}
#zhuanpiao:active{
	border:2px solid Salmon;
}
#shopname{
	width:200px;
}
#zpcontent{
	display:none;
}
#info{
	float:left;
	width:300px;
	height:38px;
	font-size:20px;
	text-align:center;
	line-height:35px;
	background-color:#7CCD7C;
	font-family:microsoft yahei;
	color:white;
	border-radius:7px;
}
#addlist{
	cursor:pointer;
	margin-left:15px;
	font-size:18px;
}
#dellist{
	cursor:pointer;
	margin-left:15px;
	font-size:18px;
}
#aaa{
	display:none;
}
#ccc{
	display:none;
}
.ksty{
	width:200px;
	font-family:microsoft yahei;
	font-size:15px;
	margin:4px 0px;
	box-sizing: border-box;  /*box-sizing  可以解决不同浏览器中 input高度不一致导致整体显示高度不一的兼容性问题*/
}
input, textarea, select, button {
	border-radius:3px;
	
}
.jj{
	letter-spacing:2.5px;
}
.personal-info{
	width:610px;
	color:red;
	float:left;
	text-align:center;
	font-weight:bold;
}

#pj1{
	width:300px;
	height:355px;
	background-color:pink;
	float:left;
	border-radius:6px;
	border-color:none;
	
}
#pj2{
	width:300px;
	height:355px;
	float:left;
	margin-left:10px;
	
}
#pjcontent{
	width:300px;
	height:316px;
	background-color:#FFEBCD;
	border-radius:6px;
}
#pjcheck{
	width:300px;
}
#pjcopy{
	position:relative;
	width:300px;
	margin-bottom:0px;
}






