*{
	padding:0px;
	margin:0px;
}
body{

	background-image:url(../pic/bgpic.png);
	background-repeat: no-repeat;
	background-size: cover;
}
#big{
	width:700px;
	margin:200px auto;
}

#part1{
	background-color:Pink;
	width:300px;
	float:left;
	margin-right:10px;
}
#part2{
	background-color:#FFEBCD;
	width:300px;
	float:left;
}
#copyinput{
	opacity: 0;
	z-index: -10;
}
#content{
	width:300px;
	height:341px;
	display:block;
	float:left;
}

#check{
	position:relative;
	width:300px;
	margin-top:55px;
}
#copy{
	position:relative;
	width:300px;
	margin-bottom:0px;
}
#tips{
	display:none;
	color:red;
}
#jine{
	width:55px;
}
#shuliang{
	width:55px;
}
#shuliang2{
	width:55px;
}
#price{
	width:55px;
}
#price2{
	width:55px;
}
#jine2{
	width:55px;
}
#shuliang2{
	width:48px;
}
#pricecopy{
	width:55px;
}
#pricecopy2{
	width:55px;
}
#shuliangcopy{
	width:55px;
}
#shuliangcopy2{
	width:48px;
}
#pupiao{
	width:149px;
	float:left;
	text-align:center;
	background-color:Tomato;
	border-right-style:solid;
	border-color:Lime;
	border-right-width:1px;
	
}
#pupiao a{
	
	text-decoration:none;
}
#pupiao:hover{
	width:149px;
	cursor:pointer;
	display:block;
}

#zhuanpiao{
	width:150px;
	float:right;
	text-align:center;
	background-color:WHiteSmoke;
}
#zhuanpiao a{
	text-decoration:none;
}
#zhuanpiao:hover{
	width:149px;
	cursor:pointer;
	display:block;
}
#shopname{
	width:169px;
}
#zpcontent{
	display:none;
}
#info{
	float:left;
	width:300px;
	text-align:center;
	background-color:WHiteSmoke;
}
#addlist{
	cursor:pointer;
	margin-left:15px;
	font-size:18px;
}
#dellist{
	cursor:pointer;
	margin-left:15px;
	font-size:18px;
}
#aaa{
	display:none;
}
#ccc{
	display:none;
}
















